@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --primary-color: #ffc107;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}
/* Navabr */
.navbar {
  background-color: var(--primary-color);
}
.navbar .navbar-nav .nav-link {
  color: #231415;
}
.navbar .navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.image {
  width: 600px;
  height: 400px;
}

.image1 {
  width: 400px;
  height: 300px;
}
/* Showcase */
.showcase {
  background-color: var(--primary-color);
}
.showcase .container {
  padding-top: 5%;
  height: 100vh;
}
.bg-dark {
  opacity: 1;
  background-color: #333 !important;
}
.text-light {
  color: #fff;
}
.text-yellow {
  color: #ffc107;
}
.bg-light {
  opacity: 1;
  background-color: #ccc !important;
}
.bg-yellow {
  opacity: 1;
  background-color: #ffc107 !important;
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.our-clients {
  width: 100%;
  height: auto;
  text-align: center;
}
.our-clients h1 {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 2rem;
}
.our-clients ul {
  padding: 0;
  margin: 0;
}

.our-clients ul li {
  list-style: none;
  display: inline-block;
  width: 180px;
  height: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0px 0px 10px -7px #555;
  transition: 0.5s;
}

.our-clients ul li img {
  width: 100%;
  height: 100%;
}
.our-clients ul li img:nth-child(1) {
  transform: translateY(0);
  transition: 0.5s;
}
.our-clients ul li img:nth-child(2) {
  transform: translateY(0);
  transition: 0.5s;
}

/*Hover-Section*/

.our-clients ul li:hover img:nth-child(1) {
  transform: translateY(-100%);
  transition: 0.5s;
}
.our-clients ul li:hover img:nth-child(2) {
  transform: translateY(-100%);
  transition: 0.5s;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  background: #ffc451;
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ffc451;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #ffcd6b;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Footer */
#main-footer {
  background: var(--primary-color);
  color: #333;
  height: 5rem;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
#main-footer .footer-content .social .fab {
  margin-right: 2rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  color: #fff;
}
#main-footer .footer-content .social .fab:hover {
  background: #333;
}

@media (max-width: 992px) {
  .clients {
    display: none;
  }
  #main-footer {
    height: 10rem;
  }
  #main-footer .container {
    padding-top: 10px;
  }

  #main-footer .footer-content {
    display: block;
  }

  #main-footer p {
    display: inline;
    margin-top: 10px;
  }
  #main-footer .footer-content .social {
    margin: 30px 0;
  }
  #main-footer .footer-content .social .fab {
    margin-right: 8rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #main-footer {
    text-align: center;
  }
  #main-footer .footer-content .social .fab {
    margin-right: 5rem;
    text-align: center;
  }
  #main-footer p {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 516px) {
  #main-footer {
    text-align: center;
  }

  #main-footer .footer-content .social .fab {
    margin-right: 2rem;
    text-align: center;
  }
}
